sphinx < 2
cloud_sptheme
boto
-e git+https://github.com/slimta/python-slimta.git#egg=python_slimta-dev
-e git+https://github.com/slimta/python-slimta-celeryqueue.git#egg=python_slimta_celeryqueue-dev
-e git+https://github.com/slimta/slimta.git#egg=slimta-dev
